<%= stylesheet_link_tag "application.css" %>

<div class="Homepage">
    <section class="About">
        <div class="About__info">
            <div class="About__info-header">
                <p>The First Largest Coffee Database</p>
            </div>
            <div class="About__info-desc">
                <p>Explore coffee beans from all across the world.</p>
            </div>
            <div class="About__info-button">
                <%= button_to "Get Started", "/auth/register/cmon_let_me_in", :method => :get %>
            </div>
        </div>
        <div class="About__svg">
            <%= show_svg("guycoffee.svg")%>
        </div>
    </section>
    <%= react_component("BackgroundFiller", { BackgroundFillerStyle: "BackgroundFiller-right", header: "Coffeephile.", desc: "(n.) a person in pursuit for the perfect cup of coffee." }) %>
    <section class="About">
        <div class="About__svg">
            <%= show_svg("communitycoffee.svg")%>
        </div>
        <div class="About__info">
            <div class="About__info-header">
                <p>A Community Of Coffee Lovers</p>
            </div>
            <div class="About__info-desc">
                <p>Discuss with fellow coffee lovers and discover new recipes.</p>
            </div>
        </div>
    </section>
    <%= react_component("BackgroundFiller", { BackgroundFillerStyle: "BackgroundFiller-left", header: "Brew", desc: "(v.) to make (tea or coffee) by mixing it with hot water." }) %>
    <section class="About">
        <div class="About__info">
            <div class="About__info-header">
                <p>Share And Discover New Recipes</p>
            </div>
            <div class="About__info-desc">
                <p>Log your coffee entry and share your brew with the world or find new exiciting recipes to try.</p>
            </div>
        </div>
        <div class="About__svg">
            <%= show_svg("coffeenote.svg")%>
        </div>
    </section>
    <%= react_component("BackgroundFiller", { BackgroundFillerStyle: "BackgroundFiller-right", header: "Coffee", desc: "(n.) a hot drink made from the roasted and ground seeds of a tropical shrub." }) %>
    <section class="Join">
        <div class="Join__header">
            <p>Ready To Be A CoffeePhile?</p>
        </div>
        <div class="Join__button">
            <%= button_to "Sign Up", "/auth/register/cmon_let_me_in", :method => :get %>
        </div>
    </section>
</div>