<%= stylesheet_link_tag "application.css" %>
<div class="Homepage">
    <div class="Featured">
        <div class="Featured__banner">
            <%=image_tag("featured.jpg", alt: "Featured Image")%>
        </div>
        <div class="Featured__information">
            <div class="Featured__information--header">
                <h3>Find your favorite beans</h3>
            </div>
            <div class="Featured__information--description">
                <p>Light roast, medium roast, or dark roast? Lorem ipsum soda carbonate.</p>
            </div>
            <div class="Featured__information--button">
                <a href="/coffee_beans" class="Coffee__item">
                    <button>Discover Beans</button>
                </a>
            </div>
        </div>
    </div>

    <div class="Section">
        <div class="Section__header">
            <p>Discover</p>
            <h3>People's Favorite Coffee</h3>
        </div>
        
                    
        <div class="Favorite__list">

            <% @top_three_coffees.each do |coffee| %>

                <div class="Coffee__item">
                    <a href="/specific_bean/<%= coffee.id %>" class="Coffee__item">
                      <div class="Coffee__item--image">
                        <%=image_tag("bluebottle.jpg", alt: "Featured Image")%>
                      </div>
                      <div>
                        <div class="Coffee__item--title">
                          <p><%= coffee.name %></p>
                        </div>
                        <div class="Coffee__item--brand">
                          <p><%= coffee.brand %></p>
                        </div>
                      </div>
                    </a>
                </div>
  
            <% end %>
        </div>
                 

    </div>
  <section class="Quiz">
      <div class="Quiz__title">
          <p>Need help on deciding your next coffee?</p>
      </div>
      <div class="Quiz__button">
          <a href="https://beanbox.com/coffee-quiz"><button>Take the quiz</button></a>
      </div>
      <div class="Quiz__backgroundText">
          <p>Coffeephile</p>
          <p>(n.) a person in pursuit for the perfect cup of coffee.</p>
      </div>
  </section>
</div>