<%= stylesheet_link_tag "application.css" %>

<div class="Section">
  <div class="Section__header">
    <p>Top Trending</p>
    <h3>Articles</h3>
  </div>
  <%= react_component("Article", { username: "sleepyowl31", img: "an image", title: "Coffee anyone?", post: "I can't help but drink coffee whenever I get the chance. As a result, I always
end up staying up awake late at nights. Can anyone relate or is it just me?", datePosted: "2021-01-08 04:05:06", numLikes: "1090920", numComments: "21" }) %>
  <%= react_component("Article", { username: "sleepyowl31", img: "an image", title: "Coffee anyone?", post: "I want a coffee.", datePosted: "2020-01-08 04:05:06", numLikes: "201939", numComments: "21" }) %>
  <%= react_component("Article", { username: "sleepyowl31", img: "an image", title: "Coffee anyone?", post: "I want a coffee.", datePosted: "2021-01-08 21:05:06", numLikes: "31100", numComments: "21" }) %>
  <%= react_component("Article", { username: "sleepyowl31", img: "an image", title: "Coffee anyone?", post: "I want a coffee.", datePosted: "2021-01-08 22:37:06", numLikes: "3100", numComments: "21" }) %>
  <div class="recommended-section">
    <p>Recommended</p>
    <p>Just For You</p>
    <p>No recommendations for now. Add some brews to start receiving recommendations!</p>
  </div>
</div>