<%= stylesheet_link_tag "application.css" %>

<div class="Login">
  <div class="Login__wrapper--brew">
    <div class="Login__left">
      <div class="Login__header--brew">
        <p>NEW BREW ENTRY</p>
      </div>
      <div class="Login__desc">
        <p>What new coffee recipe did you come up with today?</p>
      </div>
    </div>

    <div class="Login__right">
      <%= form_with(method: :post, url: user_brews_path, local: true) do |f| %>
        <div class="Form__field">
          <p><%= f.label :brew_method %></p>
          <%= select_tag(:brew_method, options_for_select([["Cold Brew", "Cold Brew"],["French Press", "French Press"],["Aeropress","Aeropress"]], params[:option] ), class:"select") %>
        </div>
        <div class="Form__field--wrapper">
          <div class="Form__field-wrap">
            <div class="Form__field--label">
              <%= f.label "Coffee Weight (g)" %>
            </div>
            <div class="Form__field--input">
              <%= f.text_field :c_weight %>
            </div>
          </div>
          <div class="Form__field-wrap">
            <div class="Form__field--label">
              <%= f.label "Water Weight(g)" %>
            </div>
            <div class="Form__field--input">
              <%= f.text_field :w_weight %>
            </div>
          </div>
        </div>
        <div class="Form__field--wrapper">
          <div class="Form__field-wrap">
            <div class="Form__field--label">
              <%= f.label "Creamer(g)" %>
            </div>
            <div class="Form__field--input">
              <%= f.text_field :cream_weight %>
            </div>
          </div>
          <div class="Form__field-wrap">
            <div class="Form__field--label">
              <%= f.label "Sugar(g)" %>
            </div>
            <div class="Form__field--input">
              <%= f.text_field :s_weight %>
            </div>
          </div>
        </div>
        <div class="Form__field">
          <div class="Form__field--label">
            <%= f.label "Extra Details" %>
          </div>
          <div class="Form__field--input">
            <%= f.text_field :extra_details %>
          </div>
        </div>
        <div class="actions Form__button"><%= f.submit 'Create New Entry' %></div>
      <% end %>
    </div>
  </div>
</div>