<%= stylesheet_link_tag "application.css" %>
<div class="Login">
  <div class="Login__wrapper--signup">
    <div class="Login__left">
      <div class="Login__header">
        <p>Sign up</p>
      </div>
      <div class="Login__desc">
        <p>Hello fellow coffee lover! You are about to join a community of wholesome coffee lovers. Get ready.</p>
      </div>
    </div>

    <div class="Login__right">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="Form__field">
          <div class="Form__field--label">
            <%= f.label :email %><br />
          </div>
          <div class="Form__field--input">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>


        <div class="Form__field">
          <div class="Form__field--label">
            <%= f.label :password %>
          </div>
          <div class="Form__field--input">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="Form__field">
          <div class="Form__field--label">
          <%= f.label :password_confirmation %><br />
          </div>
          <div class="Form__field--input">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="actions Form__button">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>

  <p class="Form__signupHeader">Already a Coffeephile?</p>
  <%= render "devise/shared/links" %>
</div>