<%= stylesheet_link_tag "application.css" %>

<div class="Section SectionTable">
  <div class="Section__wrapper">  
    <div class="Section__header">
      <p>Relive</p>
      <h3>Your Brew</h3>
    </div>
    <div class="Section__welcome">
      <%= link_to "+", new_user_brew_path(@user) %>
      <p>Coffee, Tea, or Me <span id="text-highlight"><%= @user.f_name %></span>?</p>
    </div>
  </div>

  <table class="Table">
    <tr class="Table__header">
      <th>BREW METHOD</th>
      <th>COFFEE (g)</h3>
      <th>WATER (g)</th>
      <th>CREAMER (g)</th>
      <th>MILK (g)</th>
      <th>DESCRIPTION</th>
    </tr>
    <% @user.brews.most_recent_brews.each do |brew| %>
      <tr class="Table__data">
        <td> <%= brew.brew_method.capitalize %> </td>
        <td> <%= brew.c_weight%> </td>
        <td> <%= brew.w_weight%> </td>
        <td> <%= brew.cream_weight%> </td>
        <td> <%= brew.s_weight%> </td>
        <td class="Table__description"> <%= brew.extra_details%></td> 
      </tr>
    <% end %>
  </table>
</div>