<%= stylesheet_link_tag "application.css" %>
<div>
    <div class="Banner">
        <h3>Coffeephile Store</h3>
    </div>

    <div class="Section">
        <div>
            <div class="Section__header">
                <p>Redeem</p>
                <h3>Your Coffeephile Points</h3>
            </div>
            <div class="Points">
                <p><%if current_user == nil || current_user.point == nil%>
                        <%= 0 %>
                    <%else%>
                        <%= current_user.point.value %> 
                    <% end %>
                  Points Remaining 
                </p>
                <%=image_tag("coin.png", alt: "Featured Image")%>
            </div>
        </div>
        <div class="Coffee__list">
            <div class="Coffee__item">
                <div class="Coffee__item--image">
                    <%=image_tag("red-shirt.jpg", alt: "Featured Image")%>
                </div>
                <div class="Coffee__item--info">
                    <div class="Coffee__item--info-left">
                        <div class="Coffee__item--title">
                            <p>Coffeephile T-Shirt</p>
                        </div>
                        <div class="Coffee__item--brand">
                            <p>REDEEM A COFFEEPHILE TSHIRT</p>
                        </div>
                    </div>
                    <div class="Coffee__item--info-right">
                        <div class="Price">
                            <p>15</p>
                            <%=image_tag("coin.png", alt: "Featured Image")%>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Coffee__item">
                <div class="Coffee__item--image">
                    <%=image_tag("cup.jpg", alt: "Featured Image")%>
                </div>
                <div class="Coffee__item--info">
                    <div class="Coffee__item--info-left">
                        <div class="Coffee__item--title">
                            <p>Coffeephile Mug</p>
                        </div>
                        <div class="Coffee__item--brand">
                            <p>REDEEM A COFFEEPHILE MUG</p>
                        </div>
                    </div>
                    <div class="Coffee__item--info-right">
                        <div class="Price">
                            15 <%=image_tag("coin.png", alt: "Featured Image")%>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="Coffee__item">
                <div class="Coffee__item--image">
                    <%=image_tag("mask.jpg", alt: "Featured Image")%>
                </div>
                <div class="Coffee__item--info">
                    <div class="Coffee__item--info-left">
                        <div class="Coffee__item--title">
                            <p>Coffeephile Mask</p>
                        </div>
                        <div class="Coffee__item--brand">
                            <p>REDEEM A COFFEEPHILE MASK</p>
                        </div>
                    </div>
                    <div class="Coffee_item--info-right">
                        <div class="Price">
                            15 <%=image_tag("coin.png", alt: "Featured Image")%>
                        </div>
                    </div>
                </div>
            </div>

            <% @coffee_beans.each do |bean| %>
                <div class="Coffee__item">
                    <a href="/specific_bean/<%= bean.id %>" class="Coffee__item">
                        <div class="Coffee__item--image">
                            <%=image_tag("bluebottle.jpg", alt: "Featured Image")%>
                        </div>
                        <div class="Coffee__item--info" >
                            <div class="Coffee__item--info-left">
                                <div class="Coffee__item--title">
                                    <p><%= bean.name %></p>
                                </div>
                                <div class="Coffee__item--brand">
                                    <p><%= bean.brand.upcase %></p>
                                </div>
                            </div>
                            <div class="Coffee__item--info-right">
                                <div class="Price">
                                    15 <%=image_tag("coin.png", alt: "Featured Image")%>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <% end %>
        </div>
    </div>
</div>