<!DOCTYPE html>
<html>
  <head>
    <title>Coffeephile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    
  </head>
  <div class=TitleName>
    <h1> Coffeephile. </h1>
  </div>

  <div>
    <nav class="nav-bar">
    <%= link_to "Home", "/" %>
    <%= link_to "Beans", "/coffee_beans" %>
    <%= link_to "Brew", "/brews" %>
    <%= link_to "Shop", "/shop" %>
    <%= link_to "Login" %>
    </nav>
  </div>
 

  <body>
    <%= yield %>
  </body>
</html>
