<!DOCTYPE html>
<html>
  <head>
    <title>Coffeephile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>  

  <body>
    <nav class="Navigation">
      <div class="Navigation__left">
        <p>Coffeephile.</p>
      </div>
      <div class="Navigation__right">
        <ul>
          <li class=<%= cp(root_path) %>><%= link_to "Home", "/" %></li>
          <li class=<%= cp2(coffee_beans_path) %>><%= link_to "Beans", "/coffee_beans" %></li>
          <li class=<%= cp3(user_path(7)) %>><%= link_to "Brew", "/users/#{User.first.id}" %></li>
          <li><%= link_to "Shop", "/shop" %></li>
            <li><%= link_to "Signup", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= button_to "delete", "/auth/logout", :method => :delete %></li>
        </ul>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <footer>
      <div>Made with ☕ by three trolls</div>
    </footer>
  </body>
</html>
