<!DOCTYPE html>
<html>
  <head>
    <title>Coffeephile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
  </head>  

  <body>
    <nav class="Navigation">
      <div class="Navigation__left">
        <p>Coffeephile.</p>
      </div>
      <div class="Navigation__right">
        <ul>
          <li class=<%= cp(root_path) %>><%= link_to "Home", "/" %></li>
          <li class=<%= cp2(coffee_beans_path) %>><%= link_to "Beans", "/coffee_beans" %></li>
          <% if user_signed_in? %>
            <li class=<%= cp3(user_path(current_user.id)) %>><%= link_to "Brew", "/users/#{current_user.id}" %></li>
          <% end %>
          <li><%= link_to "Shop", "/shop" %></li>
          <% if !user_signed_in? %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% else %>
            <li><%= button_to "Logout", "/auth/logout", :method => :delete %></li>
          <% end %>
        </ul>
      </div>
    </nav>
      <p class="notice" style="display:none"><%= notice %></p>
      <p class="alert" style="display:none"><%= alert %></p>
    <%= yield %>

    <footer>
      <div>Designed and Built with ☕ in California</div>
    </footer>
  </body>
</html>
